.container {
  width: 92vw;
  margin: 0 auto;
  background-color: #373239;
  border-radius: 20px;
  color: white;
  padding: 32px;
}

.mainTitle {
  font-size: 3rem;
}

.feature {
  margin: 52px 0;
}

.title {
  margin: 0;
  padding: 0
}

.selected {
  border-top: 2px solid white !important;
}

.accordionContainer {
  cursor: pointer;
}

.accordionTitle {
  padding: 12px 0;
  user-select: none;
  border-top: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 32px;
}

.article {
  margin-bottom: 4rem;
}

.features {
  width: 100%
}

.content {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.image {
  width: 100%;
  height: min-content;
}

@media screen and (min-width: 1000px) {
  .content {
    flex-direction: row;
  }
  .features {
    width: 50%;
  }
  .imageContainer {
    position: sticky;
    width: 50%;
    padding: 32px;
  }
}

@media screen and (min-width: 1000px) {
  .image{ 
    width: 25vw;
  }
}