.container {
  background-color: #373239;
  border-radius: 3rem;
  margin: 0;
  padding: 0;
  color: white;
  padding: 32px;
}

.mainTitle {
  font-size: 3rem;
}

.feature {
  margin-top: 52px;
}

.title {
  margin: 0;
  padding: 0
}

.selected {
  border-top: 2px solid white !important;
}

.accordionTitle {
  padding: 12px 0;
  user-select: none;
  border-top: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  font-size: 32px;
}

.article {
  padding-bottom: 12px;
}