.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.herocontainer {
  position: absolute;
  margin-top: 2vh;
  margin-left: 2vw;
  width: 96vw;
  height: 96vh;

  border-radius: 20px;
  background-color: #4C2B46;
  overflow: hidden;
  opacity: 0.8;
}